.review-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.review-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'TT Travels Black';
}

.review-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.review-container form label {
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

.review-container form input[type="text"],
.review-container form input[type="number"] {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline-offset: 0;
  transition: border-color 0.2s ease-in-out;
}

.review-container form input[type="text"]:focus,
.review-container form input[type="number"]:focus {
  border-color: #333333;
  outline: none;
}


.review-container > div > div {
  margin-bottom: 15px;
  border-bottom: 1px solid #121212;
  padding-bottom: 10px;
}

.review-container > div > div p {
  margin: 5px 0;
  font-size: 14px;
}

select{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
  cursor: pointer;
    border: 1px solid #ddd;
}

select:focus{
    outline: none;
}

