

.service-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 280px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    max-height: 275px;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.service-card h3 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    color: #333;
}

.service-card p {
    flex-grow: 1;
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.service-card time {
    font-size: 0.85rem;
    color: #999;
    margin-bottom: 12px;
}

.service-card span {
    font-weight: 600;
    color: #5ade09;
    font-size: 1.1rem;
}

.service-card button:hover{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  transition: 0.3s;

}