*{
    margin: 0;
}

.dashboard-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  gap: 20px;
}


.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  color: #a3a3a3;
}

.nav-link.active {
  color: #949494; 
}
